* {
    box-sizing: border-box;
    font-family:'Montserrat';
}

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size:3.8em;
    margin:0;
}

body {
    align-items: center;
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    margin:0;
    overflow:auto;
    padding:0;
}

#display-message {
    background-color:rgb(231, 231, 231);
    color:rgb(0, 0, 0);
    font-size:1em;
    margin: 20px 0px 20px 0px;
    padding:8px 15px 8px 15px;
}

#player-select {
    display:flex;
    padding: 20px;
    width:100%;
}

.player-selector {
    align-items:center;
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content: center;
}

.player-selector>*,
button   {
    font-size:.9em;
}

button {
    background-color:black;
    border:none;
    border-radius:2px;
    color:white;
    padding:6px 10px 6px 10px;
}

button:hover {
    background-color:#535353;
    cursor:pointer;
    transition:.3s;
}

button:active {
    background-color:#7a7777;
}

.player-selector>input,
.player-selector>select,
.player-selector>button {
    height:25px;
    margin-bottom:15px;
    margin-top:8px;
    text-align:center;
    width:50%;
}

.player-selector>button {
    background-color:rgb(231, 231, 231);
    border:1px solid black;
    color:black;
    padding:0;
}

.player-selector>button:hover {
    background-color:rgb(193, 193, 193);
    color:black;
    cursor:pointer;
    transition:.2s ease-in;
}

.player-selector>button:active {
    background-color:rgb(141, 141, 141);
    color:black;
    cursor:pointer;
}

#container,
#starting-ui {
    align-items:center;
    display:flex;
    flex-direction:column;
    height:fit-content;
    justify-content: center;
    width:min(450px,100vmin);
    
}

#start-button {
    padding: 8px 13px 8px 13px;
    border-radius:5px;
}

#board {
    display:none;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height:min(450px,100vmin);
    width:100%;
}

.space {
    align-items:center;
    border:1px solid black;
    cursor:pointer;
    display:flex;
    font-family: 'Reenie Beanie', cursive;
    font-size:9em;
    height:100%;
    justify-content:center;
    line-height:0px;
    width:100%;
}